@use "../../abstracts";
.about {
  &-container {
    padding: 80px 0;
    width: 1046px;
    display: flex;
    justify-content: flex-end;
    gap: 0 138px;
  }
  &-media {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &-img-2 {
    margin-top: -77px;
    align-self: flex-start;
    transform: translateX(-92px);
  }
  &-content {
    max-width: 382px;
    padding-top: 50px;
  }
  &-heading {
    margin: 8px 0 28px;
  }
  // Tablet
  @media screen and (min-width: 768px) and (max-width: 991.98px) {
    &-media {
      img {
        &:last-child {
          margin-left: 92px;
        }
      }
    }
  }
  // Mobile
  @media screen and (max-width: 767.98px) {
    &-container {
      padding: 35px 0;
      flex-direction: column-reverse;
      gap: 40px 0;
    }
    &-heading {
      margin: 20px 0 15px;
    }
    &-desc {
      font-size: 1.2rem;
    }
    &-media {
      img {
        &:first-child {
          width: 82%;
        }
        &:last-child {
          width: 48%;
          margin-top: -56px;
          margin-left: -66px;
          margin-left: 86px;
        }
      }
    }
  }
}
