@use "../../abstracts";
.builder {
  &-container {
    padding: 80px 0;
    width: 880px;
  }
  &-sub-heading {
    text-align: center;
    display: block;
  }
  &-heading {
    @extend .builder-sub-heading;
    margin: 8px auto 0 auto;
    max-width: 510px;
  }
  &-list {
    margin-top: 60px;
    @include abstracts.grid(2, 40px);
  }
  &-item {
    padding: 40px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid abstracts.$gray-light-color;
    transition: all 0.2s linear;
    &:hover {
      background: abstracts.$gray-light-color;
      .builder-icon {
        background: abstracts.$primary-color;
      }
    }
  }
  &-icon {
    @include abstracts.flexCenter;
    width: 96px;
    height: 96px;
    border-radius: 8px;
    background: abstracts.$gray-light-color;
    transition: all 0.2s linear;
  }
  &-content {
    margin-top: 36px;
    h3 {
      font-size: 2.2rem;
    }
    p {
      margin-top: 10px;
    }
  }
  // Mobile
  @media screen and (max-width: 767.98px) {
    &-container {
      padding: 35px 0;
    }
    &-heading {
      margin-top: 10px;
    }
    &-list {
      margin-top: 40px;
      @include abstracts.grid(1, 30px);
    }
    &-item {
      padding: 35px 14px;
    }
    &-content {
      margin-top: 32px;
    }
  }
}
