@use "../../abstracts";
.app {
  &-container {
    padding: 100px 0;
    width: 1094px;
  }
  &-heading {
    text-align: center;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 115.625%;
  }
  &-desc {
    margin-top: 40px;
    text-align: center;
  }
  &-list {
    margin-top: 100px;
    max-width: 800px;
    @include abstracts.grid(4, 102px);
    position: relative;
    row-gap: 64px;
    left: 55%;
    transform: translateX(-50%);
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px 0;
    flex-direction: column;
    span {
      white-space: nowrap;
    }
  }
  // Tablet
  @media screen and (min-width: 768px) and (max-width: 991.98px) {
    &-list {
      @include abstracts.grid(3, 40px);
    }
  }
  // Mobile
  @media screen and (max-width: 767.98px) {
    &-container {
      padding: 35px 0;
    }
    &-heading {
      font-size: 2.5rem;
      line-height: 146.154%;
    }
    &-desc {
      margin-top: 15px;
      font-size: 1.2rem;
    }
    &-list {
      margin-top: 40px;
      @include abstracts.grid(1, 40px);
    }
  }
}
