html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  background: #1c1c24;
}

a {
  text-decoration: none;
}

.container {
  width: 990px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.desc {
  color: #b0b0b0;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 767.98px) {
  .desc {
    font-size: 1.4rem;
    line-height: 157.143%;
  }
}

.heading {
  color: #fff;
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 129.412%;
}
@media screen and (max-width: 767.98px) {
  .heading {
    font-size: 3rem;
    line-height: 126.667%;
  }
}

.sub-heading {
  color: #79d861;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.btn {
  --height: 58px;
  height: var(--height);
  line-height: var(--height);
  min-width: 212px;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  background: #fc5a5a;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fc5a5a;
  transition: all 0.2s linear;
}
.btn:hover {
  opacity: 0.9;
}

.header {
  background: #1c1c24;
  padding-top: 19px;
  position: sticky;
  top: -19px;
  z-index: 2;
}
.header-container {
  width: 1240px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-list .header-item:first-child:hover .header-product-list {
  display: block;
}
.header-list .header-item:nth-child(3) {
  position: relative;
}
.header-list .header-item:nth-child(3)::before {
  content: "";
  width: calc(100% - 20px);
  height: 20px;
  background-color: transparent;
  position: absolute;
  bottom: -14px;
  left: 20px;
  cursor: pointer;
}
.header-list .header-item:nth-child(3):hover .header-company-list {
  display: block;
}
.header-item {
  position: relative;
}
.header-link {
  padding: 6px 20px;
  display: flex;
  align-items: center;
  gap: 0 4px;
  font-size: 1.5rem;
  line-height: normal;
}
.header-link:hover {
  color: #fc5a5a;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.header-auth .btn {
  --height: 42px;
  min-width: 108px;
  font-size: 1.2rem;
}
.header .log-in-btn {
  background: transparent;
  border: 1px solid rgba(252, 90, 90, 0.2);
}
.header .log-in-btn:hover {
  background: #fc5a5a;
  border: 1px solid #fff;
}
.header-product-list {
  display: none;
  width: 250px;
  padding: 20px 15px 20px 25px;
  border-radius: 8px;
  background: #292932;
  position: absolute;
  top: 32px;
}
.header-product-list .header-product-item:first-child {
  padding-bottom: 12px;
  border-bottom: 1px solid #555;
}
.header-product-list .header-product-item:last-child {
  padding-top: 12px;
}
.header-product-item {
  cursor: pointer;
}
.header-product-item h3 {
  color: #fff;
  font-size: 1.9rem;
  transition: all 0.2s linear;
}
.header-product-item span {
  margin-top: 5px;
  font-size: 1.4rem;
}
.header-product-item:hover h3 {
  color: #fc5a5a;
}
.header-company-list {
  width: 183px;
  padding: 16px 15px 24px;
  border-radius: 5px;
  background: #292932;
  position: absolute;
  top: 46px;
  left: 20px;
  display: none;
}
.header-company-item {
  padding: 8px 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  transition: all 0.2s linear;
  cursor: pointer;
}
.header-company-item:hover {
  background: #1e75ff;
}
@media screen and (min-width: 992px) {
  .header-menu {
    display: none;
  }
  .header-menu-drawer {
    display: none;
  }
  .header .mobile-header {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
  .header .log-in-btn {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .header-menu {
    display: none;
  }
  .header-menu-drawer {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .header-container {
    justify-content: initial;
  }
  .header-nav {
    display: none;
  }
  .header-auth {
    margin-left: auto;
  }
  .header .get-btn {
    font-size: 1rem;
    min-width: 78px;
    --height: 30px;
    border-radius: 5px;
  }
  .header-menu {
    margin-left: 15px;
  }
  .header-menu-drawer {
    position: fixed;
    inset: 100px 0 0 0;
    background: #1c1c24;
    z-index: 3;
    transform: translateX(-100%);
    transition: all 0.2s linear;
  }
  .header-menu-drawer .header-nav {
    display: block;
  }
  .header-menu-drawer .header-list {
    flex-direction: column;
    gap: 15px 0;
    align-items: flex-start;
  }
  .header-menu-drawer .header-product-list {
    z-index: 3;
  }
  .header-menu-drawer .header-company-list {
    z-index: 3;
  }
  .header-menu-checkbox:checked ~ .header-menu-drawer {
    transform: translateX(0);
  }
}

.footer-container {
  width: 1240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
.footer-list {
  display: flex;
  align-items: center;
  transform: translateX(20%);
}
.footer-link {
  padding: 6px 16px;
  display: block;
}
.footer .copyright, .footer .footer-link {
  color: #fff;
  font-size: 1.2rem;
}
@media screen and (max-width: 767.98px) {
  .footer-container {
    padding: 20px 0 30px;
    flex-direction: column;
    gap: 20px 0;
    align-items: flex-start;
  }
  .footer-list {
    transform: translateX(0);
    margin-left: -8px;
  }
}

.hero {
  padding-top: 19px;
}
.hero-container {
  padding: 41px 0 80px;
  width: 1240px;
  padding-right: 78px;
  display: flex;
}
.hero-left {
  padding-top: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-left span {
  margin: 32px 0 20px;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  color: #d2efff;
  font-size: 1.2rem;
  line-height: normal;
  letter-spacing: 6px;
}
.hero .socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px 0;
}
.hero .social {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 151, 74, 0.2);
  width: 34px;
  height: 34px;
  border-radius: 100rem;
  transition: all 0.2s linear;
}
.hero .social svg {
  color: #d2efff;
  transition: all 0.2s linear;
}
.hero .social:hover {
  background: #ff974a;
}
.hero .social:hover svg {
  color: #222222;
}
.hero-center {
  padding: 15px 56px 0 96px;
}
.hero-heading {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 115.625%;
}
.hero-desc {
  margin-top: 12px;
  max-width: 368px;
}
.hero-btn {
  margin-top: 40px;
}
.hero-form {
  margin-top: 41px;
  max-width: 416px;
  position: relative;
}
.hero-input {
  outline: none;
  border: 1px solid #292932;
  background: #292932;
  width: 100%;
  color: #b0b0b0;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 24px 150px 24px 16px;
  border-radius: 8px;
}
.hero-input-function {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0 20px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 991.98px) {
  .hero-left {
    display: none;
  }
  .hero-center {
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .hero-container {
    padding-right: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .hero-container {
    padding: 30px 0 35px;
    flex-direction: column;
    gap: 40px 0;
  }
  .hero-heading {
    font-size: 3.5rem;
    line-height: 114.286%;
  }
  .hero-desc {
    margin-top: 12px;
    max-width: 236px;
    font-size: 1.2rem;
    line-height: 150%;
  }
  .hero-btn {
    margin-top: 20px;
  }
  .hero-form {
    margin-top: 30px;
  }
  .hero-input {
    padding: 18px 150px 17px 19px;
    font-size: 1rem;
  }
  .hero-input-function {
    right: 4px;
  }
  .hero-input-function a img {
    width: 74%;
  }
}

.capture-container {
  padding: 80px 0 75px;
  width: 1190px;
  display: flex;
  gap: 0 188px;
}
.capture-media {
  position: relative;
  flex-shrink: 0;
}
.capture-decor {
  position: absolute;
  top: -43px;
  left: -32px;
  z-index: -1;
}
.capture-heading {
  margin-top: 8px;
  max-width: 262px;
}
.capture-desc-1 {
  max-width: 262px;
  margin-top: 20px;
}
.capture-desc-2 {
  margin-top: 28px;
  max-width: 380px;
}
.capture-btn {
  margin-top: 48px;
}
@media screen and (max-width: 991.98px) {
  .capture-container {
    gap: 66px;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .capture-container {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 767.98px) {
  .capture-container {
    padding: 35px 0;
  }
  .capture-heading {
    margin-top: 16px;
  }
  .capture-desc-2 {
    margin-top: 20px;
    font-size: 1.3rem;
  }
  .capture-btn {
    margin-top: 20px;
  }
  .capture-decor {
    width: 38%;
    top: -27px;
    left: -18px;
  }
}

.subscribe-container {
  padding: 80px 0;
  padding-right: 2px;
}
.subscribe-heading {
  margin-top: 8px;
  max-width: 410px;
}
.subscribe-list {
  margin-top: 64px;
  --column: 2;
  --spacing: 28px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
  row-gap: 40px;
}
.subscribe-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.subscribe-item {
  padding: 37px 72px 37px 28px;
  border-radius: 8px;
  border: 1px solid #292932;
  display: flex;
  align-items: center;
  gap: 0 24px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.subscribe-item-heading {
  font-size: 2rem;
  line-height: normal;
  margin-bottom: 8px;
}
.subscribe-item:hover {
  background: #292932;
}
.subscribe-item:hover .subscribe-icon {
  background: #fc5a5a;
}
.subscribe-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  border-radius: 10px;
  background: #292932;
  transition: all 0.2s linear;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .subscribe-list {
    --column: 1;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .subscribe-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
}
@media screen and (max-width: 767.98px) {
  .subscribe-container {
    padding: 35px 0;
  }
  .subscribe-heading {
    margin-top: 15px;
  }
  .subscribe-list {
    margin-top: 40px;
    --column: 1;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .subscribe-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
  .subscribe-item {
    padding: 27px 43px 27px 10px;
    gap: 0 17px;
  }
  .subscribe-item-heading {
    font-size: 1.4rem;
    margin-bottom: 7px;
  }
  .subscribe-item-desc {
    font-size: 1.2rem;
    line-height: 150%;
  }
}

.meet-container {
  padding: 80px 0;
}
.meet-sub-heading {
  text-align: center;
  display: block;
}
.meet-heading {
  margin-top: 8px;
  text-align: center;
}
.meet-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 83px;
}
.meet-img {
  width: 426px;
  height: 377px;
  border-radius: 8px;
  background: #292932;
  padding: 32px 26px;
}
.meet-img img:first-child {
  margin-left: auto;
}
.meet-img img:nth-child(2) {
  margin: 20px 0;
}
.meet-img img:last-child {
  margin-left: auto;
}
@media screen and (max-width: 991.98px) {
  .meet-media {
    margin-top: 40px;
    flex-direction: column;
    gap: 30px 0;
  }
}
@media screen and (max-width: 767.98px) {
  .meet-container {
    padding: 35px 0;
  }
  .meet-heading {
    margin-top: 15px;
  }
  .meet-img {
    height: auto;
    width: 100%;
  }
  .meet-img img {
    width: 78%;
  }
}

.feature {
  position: relative;
}
.feature-container {
  padding: 80px 0 56px;
  padding-right: 10px;
}
.feature-heading {
  max-width: 409px;
  margin-top: 8px;
}
.feature-list {
  margin-top: 60px;
  --column: 4;
  --spacing: 60px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.feature-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.feature-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px 0;
}
.feature-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px 0;
}
.feature-content strong {
  font-size: 3.6rem;
  font-weight: 700;
}
.feature-content span {
  max-width: 120px;
  color: #b6b7bc;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.feature-decor {
  position: absolute;
  right: 0;
  top: 126px;
}
@media screen and (max-width: 767.98px) {
  .feature-container {
    padding: 35px 0;
  }
  .feature-heading {
    margin-top: 15px;
  }
  .feature-list {
    margin-top: 40px;
    flex-direction: column;
    gap: 40px 0;
    align-items: center;
    justify-content: center;
  }
  .feature-item figure {
    width: 52px;
    height: 52px;
  }
  .feature-content span {
    width: 200px;
  }
  .feature-decor {
    display: none;
  }
}

.builder-container {
  padding: 80px 0;
  width: 880px;
}
.builder-sub-heading, .builder-heading {
  text-align: center;
  display: block;
}
.builder-heading {
  margin: 8px auto 0 auto;
  max-width: 510px;
}
.builder-list {
  margin-top: 60px;
  --column: 2;
  --spacing: 40px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.builder-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.builder-item {
  padding: 40px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #292932;
  transition: all 0.2s linear;
}
.builder-item:hover {
  background: #292932;
}
.builder-item:hover .builder-icon {
  background: #fc5a5a;
}
.builder-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 8px;
  background: #292932;
  transition: all 0.2s linear;
}
.builder-content {
  margin-top: 36px;
}
.builder-content h3 {
  font-size: 2.2rem;
}
.builder-content p {
  margin-top: 10px;
}
@media screen and (max-width: 767.98px) {
  .builder-container {
    padding: 35px 0;
  }
  .builder-heading {
    margin-top: 10px;
  }
  .builder-list {
    margin-top: 40px;
    --column: 1;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .builder-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
  .builder-item {
    padding: 35px 14px;
  }
  .builder-content {
    margin-top: 32px;
  }
}

.about-container {
  padding: 80px 0;
  width: 1046px;
  display: flex;
  justify-content: flex-end;
  gap: 0 138px;
}
.about-media {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.about-img-2 {
  margin-top: -77px;
  align-self: flex-start;
  transform: translateX(-92px);
}
.about-content {
  max-width: 382px;
  padding-top: 50px;
}
.about-heading {
  margin: 8px 0 28px;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .about-media img:last-child {
    margin-left: 92px;
  }
}
@media screen and (max-width: 767.98px) {
  .about-container {
    padding: 35px 0;
    flex-direction: column-reverse;
    gap: 40px 0;
  }
  .about-heading {
    margin: 20px 0 15px;
  }
  .about-desc {
    font-size: 1.2rem;
  }
  .about-media img:first-child {
    width: 82%;
  }
  .about-media img:last-child {
    width: 48%;
    margin-top: -56px;
    margin-left: -66px;
    margin-left: 86px;
  }
}

.trial {
  padding: 80px 0 100px;
}
.trial-container span {
  font-size: 2rem;
}
.trial .partners {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 0 56px;
}
.trial-card {
  margin-top: 103px;
  padding: 48px 93px 54px 60px;
  border-radius: 12px;
  background: #292932;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.trial-card-content {
  max-width: 386px;
}
.trial-card-heading {
  margin-bottom: 16px;
  font-weight: 700;
}
.trial-card-btn {
  margin-top: 40px;
}
.trial-card-media {
  padding-top: 11px;
}
.trial-card-decor {
  right: -53px;
  bottom: -49px;
  z-index: -1;
  position: absolute;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .trial .partners {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .trial {
    padding: 0;
  }
  .trial-container {
    padding: 35px 0 20px;
  }
  .trial-container span {
    font-size: 1.8rem;
  }
  .trial .partners {
    flex-direction: column;
    gap: 40px 0;
    align-items: flex-start;
  }
  .trial-card {
    margin-top: 70px;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    flex-direction: column;
    gap: 40px 0;
  }
  .trial-card-decor {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
