html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  background: #1c1c24;
}

a {
  text-decoration: none;
}

.container {
  width: 990px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.desc {
  color: #b0b0b0;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 767.98px) {
  .desc {
    font-size: 1.4rem;
    line-height: 157.143%;
  }
}

.heading {
  color: #fff;
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 129.412%;
}
@media screen and (max-width: 767.98px) {
  .heading {
    font-size: 3rem;
    line-height: 126.667%;
  }
}

.sub-heading {
  color: #79d861;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.btn {
  --height: 58px;
  height: var(--height);
  line-height: var(--height);
  min-width: 212px;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  background: #fc5a5a;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fc5a5a;
  transition: all 0.2s linear;
}
.btn:hover {
  opacity: 0.9;
}

.header {
  background: #1c1c24;
  padding-top: 19px;
  position: sticky;
  top: -19px;
  z-index: 2;
}
.header-container {
  width: 1240px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-list .header-item:first-child:hover .header-product-list {
  display: block;
}
.header-list .header-item:nth-child(3) {
  position: relative;
}
.header-list .header-item:nth-child(3)::before {
  content: "";
  width: calc(100% - 20px);
  height: 20px;
  background-color: transparent;
  position: absolute;
  bottom: -14px;
  left: 20px;
  cursor: pointer;
}
.header-list .header-item:nth-child(3):hover .header-company-list {
  display: block;
}
.header-item {
  position: relative;
}
.header-link {
  padding: 6px 20px;
  display: flex;
  align-items: center;
  gap: 0 4px;
  font-size: 1.5rem;
  line-height: normal;
}
.header-link:hover {
  color: #fc5a5a;
}
.header-link.active {
  color: #fc5a5a;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.header-auth .btn {
  --height: 42px;
  min-width: 108px;
  font-size: 1.2rem;
}
.header .log-in-btn {
  background: transparent;
  border: 1px solid rgba(252, 90, 90, 0.2);
}
.header .log-in-btn:hover {
  background: #fc5a5a;
  border: 1px solid #fff;
}
.header-product-list {
  display: none;
  width: 250px;
  padding: 20px 15px 20px 25px;
  border-radius: 8px;
  background: #292932;
  position: absolute;
  top: 32px;
}
.header-product-list .header-product-item:first-child {
  padding-bottom: 12px;
  border-bottom: 1px solid #555;
}
.header-product-list .header-product-item:last-child {
  padding-top: 12px;
}
.header-product-item {
  cursor: pointer;
}
.header-product-item h3 {
  color: #fff;
  font-size: 1.9rem;
  transition: all 0.2s linear;
  white-space: nowrap;
}
.header-product-item span {
  margin-top: 5px;
  font-size: 1.4rem;
}
.header-product-item:hover h3 {
  color: #fc5a5a;
}
.header-company-list {
  width: 183px;
  padding: 16px 15px 24px;
  border-radius: 5px;
  background: #292932;
  position: absolute;
  top: 46px;
  left: 20px;
  display: none;
}
.header-company-item {
  padding: 8px 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  transition: all 0.2s linear;
  cursor: pointer;
}
.header-company-item:hover {
  background: #1e75ff;
}
@media screen and (min-width: 992px) {
  .header-menu {
    display: none;
  }
  .header-menu-drawer {
    display: none;
  }
  .header .mobile-header {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
  .header .log-in-btn {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .header-menu {
    display: none;
  }
  .header-menu-drawer {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .header-container {
    justify-content: initial;
  }
  .header-nav {
    display: none;
  }
  .header-auth {
    margin-left: auto;
  }
  .header .get-btn {
    font-size: 1rem;
    min-width: 78px;
    --height: 30px;
    border-radius: 5px;
  }
  .header-menu {
    margin-left: 15px;
  }
  .header-menu-drawer {
    position: fixed;
    inset: 48px 0 0 0;
    background: #1c1c24;
    z-index: 3;
    transform: translateX(-100%);
    transition: all 0.2s linear;
  }
  .header-menu-drawer .header-nav {
    display: block;
  }
  .header-menu-drawer .header-list {
    flex-direction: column;
    gap: 15px 0;
    align-items: flex-start;
  }
  .header-menu-drawer .header-product-list {
    z-index: 3;
  }
  .header-menu-drawer .header-company-list {
    z-index: 3;
  }
  .header-menu-checkbox:checked ~ .header-menu-drawer {
    transform: translateX(0);
  }
}

.footer-container {
  width: 1240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
.footer-list {
  display: flex;
  align-items: center;
  transform: translateX(20%);
}
.footer-link {
  padding: 6px 16px;
  display: block;
}
.footer .copyright, .footer .footer-link {
  color: #fff;
  font-size: 1.2rem;
}
@media screen and (max-width: 767.98px) {
  .footer-container {
    padding: 20px 0 30px;
    flex-direction: column;
    gap: 20px 0;
    align-items: flex-start;
  }
  .footer-list {
    transform: translateX(0);
    margin-left: -8px;
  }
}

.hero {
  padding-top: 19px;
}
.hero-container {
  padding: 41px 0 80px;
  width: 1240px;
  padding-right: 78px;
  display: flex;
}
.hero-left {
  padding-top: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-left span {
  margin: 32px 0 20px;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  color: #d2efff;
  font-size: 1.2rem;
  line-height: normal;
  letter-spacing: 6px;
}
.hero .socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px 0;
}
.hero .social {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 151, 74, 0.2);
  width: 34px;
  height: 34px;
  border-radius: 100rem;
  transition: all 0.2s linear;
}
.hero .social svg {
  color: #d2efff;
  transition: all 0.2s linear;
}
.hero .social:hover {
  background: #ff974a;
}
.hero .social:hover svg {
  color: #222222;
}
.hero-center {
  padding: 15px 56px 0 96px;
}
.hero-heading {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 115.625%;
}
.hero-desc {
  margin-top: 12px;
  max-width: 368px;
}
.hero-btn {
  margin-top: 40px;
}
.hero-form {
  margin-top: 41px;
  max-width: 416px;
  position: relative;
}
.hero-input {
  outline: none;
  border: 1px solid #292932;
  background: #292932;
  width: 100%;
  color: #b0b0b0;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 24px 150px 24px 16px;
  border-radius: 8px;
}
.hero-input-function {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0 20px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 991.98px) {
  .hero-left {
    display: none;
  }
  .hero-center {
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .hero-container {
    padding-right: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .hero-container {
    padding: 30px 0 35px;
    flex-direction: column;
    gap: 40px 0;
  }
  .hero-heading {
    font-size: 3.5rem;
    line-height: 114.286%;
  }
  .hero-desc {
    margin-top: 12px;
    max-width: 236px;
    font-size: 1.2rem;
    line-height: 150%;
  }
  .hero-btn {
    margin-top: 20px;
  }
  .hero-form {
    margin-top: 30px;
  }
  .hero-input {
    padding: 18px 150px 17px 19px;
    font-size: 1rem;
  }
  .hero-input-function {
    right: 4px;
  }
  .hero-input-function a img {
    width: 74%;
  }
}

.capture-container {
  padding: 80px 0 75px;
  width: 1190px;
  display: flex;
  gap: 0 188px;
}
.capture-media {
  position: relative;
  flex-shrink: 0;
}
.capture-decor {
  position: absolute;
  top: -43px;
  left: -32px;
  z-index: -1;
}
.capture-heading {
  margin-top: 8px;
  max-width: 262px;
}
.capture-desc-1 {
  max-width: 262px;
  margin-top: 20px;
}
.capture-desc-2 {
  margin-top: 28px;
  max-width: 380px;
}
.capture-btn {
  margin-top: 48px;
}
@media screen and (max-width: 991.98px) {
  .capture-container {
    gap: 66px;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .capture-container {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 767.98px) {
  .capture-container {
    padding: 35px 0;
  }
  .capture-heading {
    margin-top: 16px;
  }
  .capture-desc-2 {
    margin-top: 20px;
    font-size: 1.3rem;
  }
  .capture-btn {
    margin-top: 20px;
  }
  .capture-decor {
    width: 38%;
    top: -27px;
    left: -18px;
  }
}

.subscribe-container {
  padding: 80px 0;
  padding-right: 2px;
}
.subscribe-heading {
  margin-top: 8px;
  max-width: 410px;
}
.subscribe-list {
  margin-top: 64px;
  --column: 2;
  --spacing: 28px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
  row-gap: 40px;
}
.subscribe-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.subscribe-item {
  padding: 37px 72px 37px 28px;
  border-radius: 8px;
  border: 1px solid #292932;
  display: flex;
  align-items: center;
  gap: 0 24px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.subscribe-item-heading {
  font-size: 2rem;
  line-height: normal;
  margin-bottom: 8px;
}
.subscribe-item:hover {
  background: #292932;
}
.subscribe-item:hover .subscribe-icon {
  background: #fc5a5a;
}
.subscribe-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  border-radius: 10px;
  background: #292932;
  transition: all 0.2s linear;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .subscribe-list {
    --column: 1;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .subscribe-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
}
@media screen and (max-width: 767.98px) {
  .subscribe-container {
    padding: 35px 0;
  }
  .subscribe-heading {
    margin-top: 15px;
  }
  .subscribe-list {
    margin-top: 40px;
    --column: 1;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .subscribe-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
  .subscribe-item {
    padding: 27px 43px 27px 10px;
    gap: 0 17px;
  }
  .subscribe-item-heading {
    font-size: 1.4rem;
    margin-bottom: 7px;
  }
  .subscribe-item-desc {
    font-size: 1.2rem;
    line-height: 150%;
  }
}

.meet-container {
  padding: 80px 0;
}
.meet-sub-heading {
  text-align: center;
  display: block;
}
.meet-heading {
  margin-top: 8px;
  text-align: center;
}
.meet-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 83px;
}
.meet-img {
  width: 426px;
  height: 377px;
  border-radius: 8px;
  background: #292932;
  padding: 32px 26px;
}
.meet-img img:first-child {
  margin-left: auto;
}
.meet-img img:nth-child(2) {
  margin: 20px 0;
}
.meet-img img:last-child {
  margin-left: auto;
}
@media screen and (max-width: 991.98px) {
  .meet-media {
    margin-top: 40px;
    flex-direction: column;
    gap: 30px 0;
  }
}
@media screen and (max-width: 767.98px) {
  .meet-container {
    padding: 35px 0;
  }
  .meet-heading {
    margin-top: 15px;
  }
  .meet-img {
    height: auto;
    width: 100%;
  }
  .meet-img img {
    width: 78%;
  }
}

.feature {
  position: relative;
}
.feature-container {
  padding: 80px 0 56px;
  padding-right: 10px;
}
.feature-heading {
  max-width: 409px;
  margin-top: 8px;
}
.feature-list {
  margin-top: 60px;
  --column: 4;
  --spacing: 60px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.feature-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.feature-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px 0;
}
.feature-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px 0;
}
.feature-content strong {
  font-size: 3.6rem;
  font-weight: 700;
}
.feature-content span {
  max-width: 120px;
  color: #b6b7bc;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.feature-decor {
  position: absolute;
  right: 0;
  top: 126px;
}
@media screen and (max-width: 767.98px) {
  .feature-container {
    padding: 35px 0;
  }
  .feature-heading {
    margin-top: 15px;
  }
  .feature-list {
    margin-top: 40px;
    flex-direction: column;
    gap: 40px 0;
    align-items: center;
    justify-content: center;
  }
  .feature-item figure {
    width: 52px;
    height: 52px;
  }
  .feature-content span {
    width: 200px;
  }
  .feature-decor {
    display: none;
  }
}

.builder-container {
  padding: 80px 0;
  width: 880px;
}
.builder-sub-heading, .builder-heading {
  text-align: center;
  display: block;
}
.builder-heading {
  margin: 8px auto 0 auto;
  max-width: 510px;
}
.builder-list {
  margin-top: 60px;
  --column: 2;
  --spacing: 40px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.builder-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.builder-item {
  padding: 40px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #292932;
  transition: all 0.2s linear;
}
.builder-item:hover {
  background: #292932;
}
.builder-item:hover .builder-icon {
  background: #fc5a5a;
}
.builder-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 8px;
  background: #292932;
  transition: all 0.2s linear;
}
.builder-content {
  margin-top: 36px;
}
.builder-content h3 {
  font-size: 2.2rem;
}
.builder-content p {
  margin-top: 10px;
}
@media screen and (max-width: 767.98px) {
  .builder-container {
    padding: 35px 0;
  }
  .builder-heading {
    margin-top: 10px;
  }
  .builder-list {
    margin-top: 40px;
    --column: 1;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .builder-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
  .builder-item {
    padding: 35px 14px;
  }
  .builder-content {
    margin-top: 32px;
  }
}

.about-container {
  padding: 80px 0;
  width: 1046px;
  display: flex;
  justify-content: flex-end;
  gap: 0 138px;
}
.about-media {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.about-img-2 {
  margin-top: -77px;
  align-self: flex-start;
  transform: translateX(-92px);
}
.about-content {
  max-width: 382px;
  padding-top: 50px;
}
.about-heading {
  margin: 8px 0 28px;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .about-media img:last-child {
    margin-left: 92px;
  }
}
@media screen and (max-width: 767.98px) {
  .about-container {
    padding: 35px 0;
    flex-direction: column-reverse;
    gap: 40px 0;
  }
  .about-heading {
    margin: 20px 0 15px;
  }
  .about-desc {
    font-size: 1.2rem;
  }
  .about-media img:first-child {
    width: 82%;
  }
  .about-media img:last-child {
    width: 48%;
    margin-top: -56px;
    margin-left: -66px;
    margin-left: 86px;
  }
}

.trial {
  padding: 80px 0 100px;
}
.trial-container span {
  font-size: 2rem;
}
.trial .partners {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 0 56px;
}
.trial-card {
  margin-top: 103px;
  padding: 48px 93px 54px 60px;
  border-radius: 12px;
  background: #292932;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.trial-card-content {
  max-width: 386px;
}
.trial-card-heading {
  margin-bottom: 16px;
  font-weight: 700;
}
.trial-card-btn {
  margin-top: 40px;
}
.trial-card-media {
  padding-top: 11px;
}
.trial-card-decor {
  right: -53px;
  bottom: -49px;
  z-index: -1;
  position: absolute;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .trial .partners {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .trial-card-decor {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .trial {
    padding: 0;
  }
  .trial-container {
    padding: 35px 0 20px;
  }
  .trial-container span {
    font-size: 1.8rem;
  }
  .trial .partners {
    flex-direction: column;
    gap: 40px 0;
    align-items: flex-start;
  }
  .trial-card {
    margin-top: 70px;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    flex-direction: column;
    gap: 40px 0;
  }
  .trial-card-decor {
    display: none;
  }
}

.product-hero-container {
  padding: 75px 0 100px;
  display: block;
  text-align: center;
}
.product-hero-heading {
  font-size: 6.4rem;
  font-weight: 700;
}
.product-hero-desc {
  margin-top: 20px;
  max-width: initial;
}
.product-hero-btn {
  margin: 40px auto 0 auto;
  min-width: 153px;
}
@media screen and (max-width: 767.98px) {
  .product-hero-container {
    padding: 30px 0 35px;
  }
  .product-hero-heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 126.667%;
  }
  .product-hero-desc {
    margin-top: 15px;
    font-size: 1.2rem;
  }
  .product-hero-btn {
    margin-top: 20px;
    min-width: 104px;
    --height: 40px;
    font-size: 1.1rem;
  }
}

.product-feature-container {
  width: 1190px;
  display: flex;
  flex-direction: column;
  gap: 100px 0;
}
.product-feature-container .product-feature-block {
  display: flex;
  justify-content: space-between;
}
.product-feature-container .product-feature-block:nth-child(odd) {
  padding: 83px 77px 75px 0;
  gap: 0 188px;
}
.product-feature-container .product-feature-block:nth-child(odd) .product-feature-content {
  padding-top: 21px;
  gap: 30px 0;
}
.product-feature-container .product-feature-block:nth-child(odd) .product-feature-desc {
  margin-top: 30px;
}
.product-feature-container .product-feature-block:nth-child(even) {
  padding: 80px 40px 0 104px;
}
.product-feature-container .product-feature-block:nth-child(even) .product-feature-content {
  padding-top: 80px;
}
.product-feature-container .product-feature-block:nth-child(even) .product-feature-desc {
  margin-top: 20px;
}
.product-feature-container .product-feature-block:nth-child(even) .product-feature-btn {
  min-width: 156px;
}
.product-feature-media {
  flex-shrink: 0;
  position: relative;
}
.product-feature-decor {
  position: absolute;
  top: -43px;
  left: -60px;
  z-index: -1;
}
.product-feature-img-2 {
  margin: -76px 0 0 -92px;
}
.product-feature-desc {
  max-width: 371px;
}
.product-feature-btn {
  min-width: 186px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .product-feature-container .product-feature-block {
    flex-direction: column;
    gap: 40px 0;
  }
  .product-feature-container .product-feature-block:nth-child(odd) {
    padding: 0;
  }
  .product-feature-container .product-feature-block:nth-child(odd) .product-feature-content {
    padding: 0;
  }
  .product-feature-container .product-feature-block:nth-child(even) {
    padding: 0;
  }
  .product-feature-container .product-feature-block:nth-child(even) .product-feature-content {
    padding: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .product-feature-container {
    padding: 35px 0;
    gap: 70px 0;
  }
  .product-feature-container .product-feature-block:nth-child(odd) {
    gap: 56px 0;
    flex-direction: column-reverse;
    padding: 0;
  }
  .product-feature-container .product-feature-block:nth-child(odd) .product-feature-desc {
    margin-top: 15px;
    font-size: 1.2rem;
    max-width: 310px;
  }
  .product-feature-container .product-feature-block:nth-child(odd) .product-feature-content {
    padding: 0;
  }
  .product-feature-container .product-feature-block:nth-child(even) {
    flex-direction: column;
    gap: 40px 0;
    padding: 0;
  }
  .product-feature-container .product-feature-block:nth-child(even) .product-feature-content {
    padding: 0;
  }
  .product-feature-container .product-feature-block:nth-child(even) .product-feature-heading {
    font-size: 2.6rem;
  }
  .product-feature-container .product-feature-block:nth-child(even) .product-feature-desc {
    margin-top: 15px;
    line-height: 150.224%;
    max-width: 287px;
    font-size: 1.2rem;
  }
  .product-feature-container .product-feature-block:nth-child(even) .product-feature-btn {
    --height: 43px;
    min-width: 143px;
    font-size: 1.2rem;
  }
  .product-feature-container .product-feature-block:nth-child(even) .product-feature-media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.product-feature-decor {
  top: -26px;
  width: 44%;
  left: -35px;
}
.product-feature-btn {
  margin-top: 20px;
  min-width: 152px;
  --height: 48px;
  font-size: 1.3rem;
  border-radius: 6.553px;
}
.product-feature-img-1 {
  width: 82%;
}
.product-feature-img-2 {
  width: 48%;
  align-self: flex-start;
  transform: translate(88px, 22px);
}

.app-container {
  padding: 100px 0;
  width: 1094px;
}
.app-heading {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 115.625%;
}
.app-desc {
  margin-top: 40px;
  text-align: center;
}
.app-list {
  margin-top: 100px;
  max-width: 800px;
  --column: 4;
  --spacing: 102px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
  position: relative;
  row-gap: 64px;
  left: 55%;
  transform: translateX(-50%);
}
.app-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.app-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px 0;
  flex-direction: column;
}
.app-item span {
  white-space: nowrap;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .app-list {
    --column: 3;
    --spacing: 40px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .app-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
}
@media screen and (max-width: 767.98px) {
  .app-container {
    padding: 35px 0;
  }
  .app-heading {
    font-size: 2.5rem;
    line-height: 146.154%;
  }
  .app-desc {
    margin-top: 15px;
    font-size: 1.2rem;
  }
  .app-list {
    margin-top: 40px;
    --column: 1;
    --spacing: 40px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .app-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
}

.company-hero-container {
  padding: 59px 91px 50px 0;
  width: 1240px;
  display: flex;
  justify-content: space-between;
  gap: 0 50px;
}
.company-hero-media {
  width: 484px;
  height: 443px;
  flex-shrink: 0;
}
.company-hero-img {
  border-radius: 20.594px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.company-hero-heading {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 115.625%;
}
.company-hero-desc {
  margin-top: 20px;
}
.company-hero-btn {
  margin-top: 40px;
}
@media screen and (max-width: 991.98px) {
  .company-hero-container {
    padding: 30px 0 35px;
    flex-direction: column-reverse;
    gap: 30px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .company-hero-media {
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .company-hero-heading {
    font-size: 3.5rem;
    line-height: 114.286%;
  }
  .company-hero-media {
    width: 329px;
    height: 306.622px;
  }
  .company-hero-desc {
    margin-top: 15px;
  }
  .company-hero-btn {
    margin-top: 20px;
    --height: 31px;
    min-width: 115px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 700;
  }
}

.benefit-container {
  padding: 50px 0;
  width: 900px;
}
.benefit-heading {
  font-size: 6.4rem;
  line-height: 115.625%;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
}
.benefit-desc {
  text-align: center;
}
.benefit-list {
  margin-top: 100px;
  --column: 2;
  --spacing: 30px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
  padding: 0 70px;
}
.benefit-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.benefit-item {
  padding: 33px 193px 33px 28px;
  border-radius: 10px;
  background: #292932;
}
.benefit-item span {
  margin-top: 16px;
  font-size: 1.6rem;
  display: block;
  white-space: nowrap;
}
@media screen and (max-width: 767.98px) {
  .benefit-container {
    padding: 35px 0;
  }
  .benefit-heading {
    font-size: 3rem;
    line-height: 126.667%;
    font-weight: 700;
    width: 100%;
    letter-spacing: 0;
    margin-bottom: 15px;
  }
  .benefit-list {
    margin-top: 40px;
    --column: 1;
    --spacing: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
    padding: 0;
  }
  .benefit-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
  .benefit-item {
    padding-right: 162px;
  }
}

.plan-container {
  padding: 109px 0 100px;
  width: 1220px;
}
.plan-heading {
  max-width: 637px;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 115.625%;
}
.plan-switch-wrap {
  margin-top: 50px;
}
.plan-switch-label {
  width: 276px;
  height: 58px;
  border-radius: 8px;
  padding: 0 15px 0 24px;
  background: #292932;
  display: flex;
  align-items: center;
  position: relative;
  gap: 0 28px;
}
.plan-switch-label span {
  color: #d4d4d4;
  position: relative;
  z-index: 1;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}
.plan-switch-label::before {
  content: "";
  position: absolute;
  background: #1c1c24;
  width: 134px;
  height: 44px;
  border-radius: 8px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.plan-switch-input:checked + .plan-switch-label::before {
  left: initial;
  right: 10px;
  width: 117px;
}
.plan-switch-input:checked + .plan-switch-label span:last-child {
  color: #fff;
}
.plan-switch-input:not(:checked) + .plan-switch-label span:first-child {
  color: #fff;
}
.plan-list {
  margin-top: 100px;
  --column: 3;
  --spacing: 31px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.plan-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.plan-list .plan-item:first-child {
  background: #beecfa;
}
.plan-list .plan-item:first-child .plan-btn {
  background: #1ab3f6;
}
.plan-list .plan-item:nth-child(2) {
  background: #bbf9bb;
}
.plan-list .plan-item:nth-child(2) .plan-btn {
  background: #54de62;
}
.plan-list .plan-item:last-child {
  background: #e9d8fb;
}
.plan-list .plan-item:last-child .plan-btn {
  background: #907bff;
}
.plan-item {
  padding: 30px 33px 50px;
  border-radius: 27px;
  border: 2px solid #2d2d33;
}
.plan-item-heading {
  color: #000;
  font-size: 2.4rem;
}
.plan-item-desc {
  margin-top: 17px;
  color: #353637;
}
.plan-price {
  margin-top: 16px;
  display: flex;
  gap: 0 9px;
  align-items: center;
}
.plan-price strong {
  color: #000;
  font-size: 6.1rem;
}
.plan-price-desc {
  display: flex;
  flex-direction: column;
  gap: 4px 0;
}
.plan-price-desc span {
  color: #353637;
}
.plan-btn {
  margin-top: 33px;
  --height: 48px;
  min-width: 320px;
  border: 1px solid transparent;
  color: #000;
}
.plan-feature {
  margin-top: 53px;
}
.plan-feature-heading {
  color: #000;
  font-size: 1.6rem;
}
.plan-feature-desc {
  margin-top: 8px;
  color: #000;
  font-size: 1.6rem;
}
.plan-feature-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
.plan-feature-item {
  display: flex;
  align-items: center;
  gap: 0 12px;
}
.plan-feature-item-title {
  color: #000;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .plan-list {
    margin-top: 70px;
    --column: 2;
    --spacing: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .plan-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
  .plan-btn {
    min-width: 307px;
  }
}
@media screen and (max-width: 767.98px) {
  .plan-container {
    padding: 30px 0 35px;
  }
  .plan-heading {
    font-size: 3rem;
    line-height: 126.667%;
  }
  .plan-switch-wrap {
    margin-top: 20px;
  }
  .plan-switch-label {
    width: 172px;
    height: 35px;
    padding: 11px 14px;
    border-radius: 4.965px;
  }
  .plan-switch-label span {
    font-size: 0.9rem;
    white-space: nowrap;
  }
  .plan-switch-label::before {
    width: 76px;
    height: 25px;
    left: 6px;
    border-radius: 4.965px;
  }
  .plan-switch-input:checked + .plan-switch-label::before {
    right: 6px;
    width: 73px;
  }
  .plan-list {
    margin-top: 70px;
    --column: 1;
    --spacing: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .plan-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
  .plan-item {
    padding: 30px 20px 50px;
  }
  .plan-btn {
    min-width: 285px;
  }
}

.blog-feature-container {
  width: 972px;
  padding: 109px 0 100px;
}
.blog-feature-heading {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 115.625%;
  text-align: center;
}
.blog-feature-desc {
  margin-top: 20px;
  text-align: center;
}
.blog-feature-block {
  margin-top: 100px;
}
.blog-feature-sub-heading {
  font-size: 3.4rem;
  padding-bottom: 40px;
  display: block;
}
.blog-feature-list {
  --column: 2;
  --spacing: 18px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.blog-feature-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.blog-feature-item {
  border-radius: 10px;
  background: #292932;
  transition: all 0.2s linear;
  cursor: pointer;
}
.blog-feature-item:hover {
  transform: translateY(-20px);
}
.blog-feature-media {
  width: 477px;
  height: 268px;
}
.blog-feature-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.blog-feature-content {
  padding: 15px 20px 25px;
}
.blog-feature-content span {
  font-size: 1.4rem;
}
.blog-feature-content h3 {
  margin-top: 20px;
  font-size: 2.2rem;
}
.blog-feature-content p {
  margin-top: 12px;
  font-size: 1.4rem;
}
.blog-feature-others {
  margin-top: 100px;
}
.blog-feature-others-list {
  --column: 3;
  --spacing: 18px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
  row-gap: 40px;
}
.blog-feature-others-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.blog-feature-others-item {
  border-radius: 5px;
  background: #292932;
  cursor: pointer;
  transition: all 0.2s linear;
}
.blog-feature-others-item:hover {
  transform: translateY(-10px);
}
.blog-feature-others-media {
  width: 312px;
  height: 174px;
}
.blog-feature-others-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.blog-feature-others .blog-feature-content {
  padding: 15px 15px 20px;
}
.blog-feature-btn {
  margin: 60px auto 0 auto;
  min-width: 141px;
}
@media screen and (max-width: 991.98px) {
  .blog-feature-list {
    --column: 1;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .blog-feature-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
  .blog-feature-item:hover {
    transform: translateY(0);
  }
  .blog-feature-others-list {
    --column: 1;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .blog-feature-others-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
  .blog-feature-others-list .blog-feature-others-item:nth-child(5) {
    display: none;
  }
  .blog-feature-others-list .blog-feature-others-item:nth-child(6) {
    display: none;
  }
  .blog-feature-others-list .blog-feature-others-item:nth-child(7) {
    display: none;
  }
  .blog-feature-others-list .blog-feature-others-item:nth-child(8) {
    display: none;
  }
  .blog-feature-others-list .blog-feature-others-item:nth-child(9) {
    display: none;
  }
  .blog-feature-others-list .blog-feature-others-item:nth-child(10) {
    display: none;
  }
  .blog-feature-others-list .blog-feature-others-item:nth-child(11) {
    display: none;
  }
  .blog-feature-others-list .blog-feature-others-item:nth-child(12) {
    display: none;
  }
  .blog-feature-others-item:hover {
    transform: translateY(0);
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .blog-feature-media {
    width: 100%;
  }
  .blog-feature-others-media {
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .blog-feature-container {
    padding: 30px 0 35px;
  }
  .blog-feature-heading {
    font-size: 3rem;
  }
  .blog-feature-desc {
    margin-top: 15px;
    font-size: 1.2rem;
  }
  .blog-feature-block {
    margin-top: 50px;
  }
  .blog-feature-sub-heading {
    padding-bottom: 20px;
    font-size: 2rem;
  }
  .blog-feature-media {
    width: 328px;
    height: 188.218px;
  }
  .blog-feature-content {
    padding: 10px 14px 17px;
  }
  .blog-feature-content span {
    font-size: 1rem;
  }
  .blog-feature-content h3 {
    margin-top: 10px;
    font-size: 1.6rem;
  }
  .blog-feature-content p {
    margin-top: 10px;
    font-size: 1rem;
  }
  .blog-feature-others {
    margin-top: 50px;
    padding: 0 7px;
  }
  .blog-feature-others-media {
    width: 312px;
    height: 174px;
  }
  .blog-feature-others .blog-feature-content h3 {
    font-size: 2.2rem;
  }
  .blog-feature-btn {
    margin-top: 40px;
  }
}

.article-container {
  padding: 109px 0 100px;
  width: 1170px;
}
.article-sub-heading {
  text-align: center;
  display: block;
}
.article-heading {
  margin-top: 80px;
  font-size: 6.4rem;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 700;
}
.article-desc {
  margin-top: 25px;
  text-align: center;
}
.article-author {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}
.article-author-icon {
  width: 38px;
  height: 38px;
}
.article-author-icon img {
  border-radius: 100rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-author span {
  font-size: 1.4rem;
}
.article-img {
  margin-top: 80px;
  height: 781px;
}
.article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.article-content {
  max-width: 1040px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.article-content strong {
  font-size: 1.8rem;
}
.article-desc-wrap {
  padding: 40px 0 50px;
  gap: 30px 0;
}
.article-desc-wrap-1 {
  padding-top: 52px;
}
.article-sub-img {
  padding: 0 58px;
  --column: 3;
  --spacing: 30px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.article-sub-img > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.article-sub-img img {
  width: 327px;
  height: 279px;
  border-radius: 5px;
  object-fit: cover;
}
.article-part-heading {
  font-size: 3.4rem;
  padding-left: 65px;
}
.article-part-heading-1 {
  margin-top: 100px;
}
.article-cta {
  margin-top: 50px;
}
.article-cta span {
  text-align: center;
  font-size: 2.2rem;
  display: block;
}
.article-socials {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  margin-bottom: 100px;
}
.article .blog-feature-others-list {
  padding: 0 99px;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .article-sub-img {
    --column: 2;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
    padding: 0 42px;
  }
  .article-sub-img > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
}
@media screen and (max-width: 767.98px) {
  .article-container {
    padding: 30px 0 35px;
  }
  .article-sub-heading {
    font-size: 1.6rem;
  }
  .article-heading {
    margin-top: 20px;
    font-size: 3rem;
    line-height: 126.667%;
    letter-spacing: 0;
  }
  .article-desc {
    margin-top: 15px;
    font-size: 1.2rem;
    line-height: 150%;
  }
  .article-author {
    margin-top: 30px;
  }
  .article-img {
    margin-top: 50px;
    height: 223.62px;
  }
  .article-desc-wrap {
    padding: 20px 0 25px;
  }
  .article-desc-wrap-1 {
    padding-top: 30px;
  }
  .article-desc-wrap-2 {
    display: none;
  }
  .article-content {
    font-size: 1.2rem;
    line-height: 150%;
    padding-bottom: 15px;
  }
  .article-sub-img {
    --column: 1;
    --spacing: 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
    padding: 0;
  }
  .article-sub-img > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
  .article-sub-img img:nth-child(2) {
    display: none;
  }
  .article-sub-img img:last-child {
    display: none;
  }
  .article-part-heading {
    margin-top: 50px;
    padding: 0;
    font-size: 3rem;
  }
  .article-part-heading-2 {
    display: none;
  }
  .article-cta {
    margin-top: 45px;
  }
  .article-socials {
    margin-bottom: 70px;
  }
  .article .blog-feature-others-list {
    padding: 0 7px;
  }
}

/*# sourceMappingURL=main.css.map */
