@use "../abstracts";
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: abstracts.$primary-font;
  background: abstracts.$bg-color;
}
a {
  text-decoration: none;
}
.container {
  width: 990px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.desc {
  color: abstracts.$text-color;
  font-weight: 400;
  line-height: 150%;
  // Mobile
  @media screen and (max-width: 767.98px) {
    font-size: 1.4rem;
    line-height: 157.143%;
  }
}
.heading {
  color: #fff;
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 129.412%;
  // Mobile
  @media screen and (max-width: 767.98px) {
    font-size: 3rem;
    line-height: 126.667%;
  }
}
.sub-heading {
  color: abstracts.$light-color;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}
